.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | Community Stream
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        li(class=(title == 'Browse') ? 'active' : undefined)
          a(href='/browse') Browse
        li.dropdown(class = (title=='presentation'))
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Servers
            span.caret
          ul.dropdown-menu
            li
              a(href='/server1') Server 1
            li
              a(href='/server2') Server 2
            li
              a(href='/server3') Server 3
        li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact