extends layout

block content
  .panel.panel-default
    .panel-heading Server 1
    iframe#thumbnail(src='/server1', scrolling='no', width='1140px', height='510px')
  .panel.panel-default
    .panel-heading Server 2
    iframe#thumbnail(src='/server2', scrolling='no', width='1140px', height='510px')
  .panel.panel-default
    .panel-heading Server 3
    iframe#thumbnail(src='/server3', scrolling='no', width='1140px', height='510px')

