extends layout

block content
  .row
    .col-sm-12
      h2 
        Name Jeffrey Shi 
      h2 
        Name Nicholas Mullikin 
      h2 
        Name Bennet Varrichione 
      h2 
        Name Erik Batista