extends layout

block content
  h1 Community Stream
  p.lead Streaming your favorite content in a community setting.
  hr
  .row
    .col-sm-12
      h2 The next generation of content streaming 
      p Community Stream is a revolutionary new way to enjoy the endless media content available on the web. CS allows you to connect to a community of other users and view your favorite shows together. Through a chat menu, you can speak with all of the other users viewing that same video, enhancing the overall viewing experience. 
      p
        a.btn.btn-default(href='/browse', role='button') Get Started »
      img.img-thumbnail(src='images/banner.png')


